@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
body {
    margin: auto;
    background-size: 100%;
}

section.section1 {
    background: url('./backimg/Image.svg') no-repeat;
    height: 820px;
}

div.box {
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    text-align: center;
    vertical-align: middle;
    color: #ffffff;
    font-family: "Josefin Sans";
    font-size: 48px;
    line-height: 26px;
    text-transform: uppercase;
    letter-spacing: 4.8px;
}

h2 {
    margin: 0;
    width: 258px;
    height: 33px;
    color: #ffffff;
    font-family: Aleo;
    font-size: 36px;
    font-weight: 400;
    line-height: 26px;
}

p.s--n1 {
    text-align: center;
    color: #ffffff;
    font-family: "Josefin Sans";
    font-size: 22px;
    font-weight: 400px;
    line-height: 26px;
    letter-spacing: 6.82px;
}

form.form {
    display: inherit;
}

input[type=text] {
    width: 500px;
    height: 60px;
    padding: 12px 20px;
    box-sizing: border-box;
    text-align: center;
}

input[type=submit] {
    width: 150px;
    height: 60px;
    background-color: #5474fd;
    color: white;
    padding: 14px 20px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #2b3c85;
}

.section2 {
    background: url('./backimg/Rectangle_7.svg') no-repeat;
    height: 685px;
}

div.us {
    width: 530px;
    height: 146px;
    float: left;
}

div.img {
    margin: 0 auto;
    /* Выравнивание блока по центру */
    width: 640px;
    /* Ширина блока */
    line-height: 1px;
    /* Межстрочное расстояние */
    float: right;
}

div.rightimg {
    float: right;
    margin: 7px 0 7px 7px;
}

.section4 {
    background: url('./backimg/Rectangle_414.svg') no-repeat;
    height: 700px;
}

div.spain1 {
    height: 371px;
    width: 540px;
    background-color: #232323;
    opacity: 0.9;
    color: #fff;
    padding: 10px;
}

.section5 {
    background: url('./backimg/Rectangle_4141.svg') no-repeat;
    height: 700px;
}

div.spain2 {
    height: 371px;
    width: 540px;
    background-color: #232323;
    opacity: 0.9;
    color: #fff;
    padding: 10px;
    float: right;
    margin-right: 330px;
}

.section6 {
    background: url('./backimg/Rectangle_4142.svg') no-repeat;
    height: 731px;
}

img.sumon {
    width: 445px;
    height: 284px;
}

div.sumon {
    width: 665px;
    height: 284px;
    background-color: #333333;
}